<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kejian.mike.mike_kejian_android"


    >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.course.detail.CourseActivity"
            android:label="@string/course_detail_activity" >
        </activity>
        <activity
            android:name=".ui.message.CourseNoticeActivity"
            android:label="@string/course_notice" >
        </activity>
        <activity
            android:name=".ui.message.NewReplyActivity"
            android:label="@string/new_reply" >
        </activity>
        <activity
            android:name=".ui.message.NewPraiseActivity"
            android:label="@string/new_praise" >
        </activity>
        <activity
            android:name=".ui.message.MentionMeActivity"
            android:label="@string/mention_me" >
        </activity>
        <activity
            android:name=".ui.course.detail.naming.CourseNamingActivity"
            android:label="@string/title_activity_course_naming" >
        </activity>
        <activity
            android:name=".ui.course.detail.question.QuestionPublishActivity"
            android:label="@string/title_activity_question_publish" >
        </activity>
        <activity
            android:name=".ui.user.UserInfoActivity"
            android:label="user_info" >
        </activity>
        <activity
            android:name=".ui.user.UserLoginActivity"
            android:label="user_login" >
        </activity>
        <activity
            android:name=".ui.user.UserBaseInfoOtherView"
            android:label="user_info_other" >
        </activity>
    </application>

</manifest>
