<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kejian.mike.mike_kejian_android" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.course.detail.CourseActivity"
            android:label="@string/title_activity_course" >
        </activity>
        <activity
            android:name=".ui.course.detail.TieZiPublishActivity"
            android:label="@string/title_activity_tie_zi_publish" >
        </activity>
        <activity
            android:name=".ui.course.detail.AnnoucementPublishActivity"
            android:label="@string/title_activity_annoucement_publish" >
        </activity>
        <activity
            android:name=".ui.course.detail.NamingActivity"
            android:label="@string/title_activity_naming" >
        </activity>
        <activity
            android:name=".ui.course.detail.CourseSignInActivity"
            android:label="@string/title_activity_course_sign_in" >
        </activity>
        <activity
            android:name=".ui.course.detail.introduction.CourseIntroductionActivity"
            android:label="@string/title_activity_course_introduction" >
        </activity>
        <activity
            android:name=".ui.course.management.CourseCreateActivity"
            android:label="@string/title_activity_course_create" >
        </activity>
        <activity
            android:name=".ui.course.detail.question.QuestionAnswerActivity"
            android:label="@string/title_activity_question_answer" >
        </activity>
        <activity
            android:name=".ui.course.detail.question.AnswerStatsActivity"
            android:label="@string/title_activity_answer_stats" >
        </activity>
    </application>

</manifest>
