<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kejian.mike.mike_kejian_android" >

    <permission android:name="com.kejian.mike.mike_kejian_android.permission.JPUSH_MESSAGE" android:protectionLevel="signature" />


    <!-- Required -->
    <uses-permission android:name="com.kejian.mike.mike_kejian_android.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="com.kejian.mike.mike_kejian_android.permission.JPUSH_MESSAGE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.VIBRATE" />


    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />


    <!-- 友盟推送需要的permission -->
    <!-- 必选 -->






    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <!-- 【必选】用以设置前台是否显示通知 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 可选 -->
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/kj_icon_xh"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-permission android:name="com.kejian.mike.mike_kejian_android.JPUSH_MESSAGE" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5614fe4d67e58e36e50024e3" >
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="d7894cf3283e362debcf53f428d95d1c" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="mikeKejian" >
        </meta-data>

        <!-- Required -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>


        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter >
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.kejian.mike.mike_kejian_android"/>
            </intent-filter>
        </service>


        <!-- Required -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true" >
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <category android:name="com.kejian.mike.mike_kejian_android"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.kejian.mike.mike_kejian_android" />
            </intent-filter>
        </activity>
        <!-- Required SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- Required -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.main.WelcomeActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/MyTheme.NoTitleBar.CustomBackground">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.user.UserLoginActivity">

        </activity>

        <receiver android:name=".ui.broadcast.NetBroadcast" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.course.detail.CourseActivity"
            android:label="@string/course_detail_activity" >

            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity"/>

        </activity>

        <activity
            android:name=".ui.course.detail.introduction.CourseIntroductionActivity"
            android:label="@string/course_intro_activity" >

            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.course.detail.CourseActivity"/>

        </activity>

        <activity
            android:name=".ui.course.management.CourseCreateActivity"
            android:label="@string/course_create_activity" >

            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity"/>

        </activity>

        <activity
            android:name=".ui.course.management.AnnoucementPublishActivity"
            android:label="@string/annouc_publish_activity" >

            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.course.detail.CourseActivity"/>

        </activity>

        <activity
            android:name=".ui.course.annoucement.AnnoucListActivity"
            android:label="@string/annouc_list_activity" >

            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.course.detail.CourseActivity"/>

        </activity>

        <activity
            android:name=".ui.message.CourseNoticeActivity"
            android:label="@string/course_notice" >
        </activity>

        <activity
            android:name=".ui.course.detail.naming.CourseNamingActivity"
            android:label="@string/course_naming_activity" >

            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.course.detail.CourseActivity"/>

        </activity>

        <activity
            android:name=".ui.course.detail.CourseSignInActivity"
            android:label="@string/course_sign_in_activity" >

            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.course.detail.CourseActivity"/>

        </activity>

        <activity
            android:name=".ui.course.detail.question.QuestionAnswerActivity"
            android:label="@string/title_activity_question_answer" >

            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.course.detail.CourseActivity"/>

        </activity>

        <activity
            android:name=".ui.course.detail.question.QuestionStatsActivity"
            android:label="@string/title_activity_question_stats" >

            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.course.detail.CourseActivity"/>

        </activity>

        <activity
            android:name=".ui.course.annoucement.AnnoucDetailActivity"
            android:label="@string/title_annouc_detail_activity" >

            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.course.annoucement.AnnoucListActivity"/>

        </activity>

        <activity
            android:name=".ui.message.NewReplyActivity"
            android:label="@string/new_reply" >
        </activity>
        <activity
            android:name=".ui.message.NewPraiseActivity"
            android:label="@string/new_praise" >
        </activity>
        <activity
            android:name=".ui.message.MentionMeActivity"
            android:label="@string/mention_me" >
        </activity>
        <activity
            android:name=".ui.course.detail.question.QuestionPublishActivity"
            android:label="@string/question_publish_activity" >
        </activity>
        <activity
            android:name=".ui.user.UserInfoActivity"
            android:label="@string/user_info" >
        </activity>
        <!-- <activity -->
        <!-- android:name=".ui.user.UserLoginActivity" -->
        <!-- android:label="user_login" > -->
        <!-- </activity> -->
        <activity
            android:name=".ui.user.UserBaseInfoOtherView"
            android:label="用户信息" >
        </activity>
        <activity
            android:name=".ui.user.UserAttentionListActivity"
            android:label="关注列表" />
        <activity
            android:name=".ui.user.UserForgetPasswordActivity"
            android:label="忘记密码" />
        <activity
            android:name=".ui.user.UserRegisterActivity"
            android:label="注册" />
        <activity
            android:name=".ui.campus.PostDetailActivity"
            android:label="帖子内容" >
        </activity>
        <activity
            android:name=".ui.campus.PostPublishActivity"
            android:label="发帖" >
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.user.UserAttentionActivity"
            android:label="关注的人" >
        </activity>
        <activity
            android:name=".ui.user.UserPasswordCode"
            android:label="发送验证码" />
        <activity
            android:name=".ui.user.UserSettingActivity"
            android:label="设置" />
        <activity
            android:name=".ui.user.UserSchoolAccountActivity"
            android:label="绑定教务网帐号" />
        <activity
            android:name=".ui.user.UserAttentionCourse"
            android:label="关注的课程" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- 监听通知点击或者忽略处理的广播 -->
        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false" >
        </receiver>

        <!-- 监听开机运行、网络连接变化、卸载的广播 -->
        <receiver
            android:name="com.umeng.message.SystemReceiver"
            android:process=":push" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- 监听消息到达的广播 -->
        <receiver
            android:name="com.umeng.message.MessageReceiver"
            android:exported="false"
            android:process=":push" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </receiver>

        <!-- 监听宿主选举的广播 -->
        <receiver
            android:name="com.umeng.message.ElectionReceiver"
            android:process=":push" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_RESULT_V4" />

                <category android:name="umeng" />
            </intent-filter>
        </receiver>

        <!-- 监听注册的广播 -->
        <receiver
            android:name="com.umeng.message.RegistrationReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.kejian.mike.mike_kejian_android.intent.action.COMMAND" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.umeng.message.UmengMessageBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Umeng的长连服务，用来建立推送的长连接的 -->
        <!-- 【应用包名】字符串需要替换成本应用的应用包名 -->
        <service
            android:name="com.umeng.message.UmengService"
            android:exported="true"
            android:label="PushService"
            android:process=":push" >
            <intent-filter>
                <action android:name="com.kejian.mike.mike_kejian_android.intent.action.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.kejian.mike.mike_kejian_android.intent.action.COCKROACH" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING_V4" />

                <category android:name="umeng" />
            </intent-filter>
        </service>

        <!-- Umeng的消息接收服务 -->
        <service
            android:name="com.umeng.message.UmengIntentService"
            android:process=":push" />

        <!-- Umeng的消息路由服务 -->
        <service
            android:name="com.umeng.message.UmengMessageIntentReceiverService"
            android:exported="true"
            android:process=":push" >
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.android.agoo.client.ElectionReceiverService" />
            </intent-filter>
        </service>

        <!-- v2.4.1添加的Service，Umeng的消息接收后的处理服务 -->
        <service
            android:name="com.umeng.message.UmengMessageCallbackHandlerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.umeng.messge.registercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.unregistercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.handler.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.autoupdate.handler.action" />
            </intent-filter>
        </service>

        <!-- V1.3.0添加的service，负责下载通知的资源 -->
        <service android:name="com.umeng.message.UmengDownloadResourceService" />

        <!-- V2.5.0添加的Service，用于本地通知 -->
        <!-- 如果不使用本地通知，可以注释掉本地通知服务的配置 -->
        <service
            android:name="com.umeng.message.local.UmengLocalNotificationService"
            android:exported="false" />

        <activity
            android:name=".ui.main.SearchableActivity"
            android:label="@string/title_activity_searchable"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".ui.user.UserOtherState"
            android:label="他的动态" />
        <activity
            android:name=".ui.message.SearchViewDemo"
            android:label="" >
        </activity>
        <activity
            android:name=".ui.main.CoursePostSearchActivity"
            android:label="CoursePostSearchActivity" />
        <activity
            android:name=".ui.campus.ReplyDetailActivity"
            android:label="" />
        <activity
            android:name=".ui.main.SearchPeopleActivity"
            android:label="@string/title_activity_search_people" >
        </activity>
        <!-- User defined. 用户自定义的广播接收器-->
        <receiver
            android:name=".ui.widget.MyReceiver"
            android:enabled="true">
            <intent-filter>
                <!--Required 用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <!--Required 用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!--Required 用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!--Required 用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!--Optional 用户接受Rich Push Javascript 回调函数的intent-->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="com.kejian.mike.mike_kejian_android" />
            </intent-filter>
        </receiver>
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <!-- Required. AppKey copied from Portal -->
        <meta-data android:name="JPUSH_APPKEY" android:value="f13ceadb88105d858f567c1e"/>
    </application>

</manifest>
